# Ignore the myenv directory (virtual environment)
myenv/

# Ignore the specific model and inference graph files
sam_vit_h_4b8939.pth
ssd_mobilenet_v3_large_coco_2020_01_14.pbtxt
frozen_inference_graph.pb